[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pandas = "*"
numpy = "*"
psycopg2-binary = "*"
flask = "*"
jinja2 = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.6"
